*{
    margin: 0%;
    padding: 0%;
}


/* navbar */

.custom-navbar {
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    position: relative !important;
    background-color: #142c8e !important;
    
}
.nav-item{
    margin:10px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #d1f1ff;

    

}
.custom-navbar{
    --bs-navbar-brand-margin-end: 3rem;
}

#navibar{
    background-color: #142c8e!important;
    
}

.dropdown-menu{
    align-items: end !important;
    text-align: center !important;
    justify-items: right !important;
}

/* user-image-resize */
.userimg{

    margin-left: 20% !important;
    margin-right: 20% !important;
}


.heading1-h1{
    margin: 20px 0 10px 0;
    color: #19d19d;
}
/* paypal-container-body */

.paypal-container {
    /* background-color: #009cde; */
    /* background-color: #fdfafa; */
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    margin-top: 30px !important;
    margin: auto ;
    margin-top: 20px;
    margin-bottom: 20px !important;

}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}
.paypal-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url('images/paypal.png') no-repeat center center;
    background-size: cover;
    margin: 0 auto 20px;
}
.transimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url('images/greenCheck.png') no-repeat center center;
    background-size: cover;
    margin: 0 auto 20px;
}

.balance-display {
    font-size: 24px;
    color: #001c64;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
}

.confirmation {
    color: #4CAF50;
    font-size: 24px;
    margin-top: 20px;
}

.checkmark-image {
    width: 20px; 
    height: 17px; 
    align-items: center;
}

.but-reset{
    --bs-btn-border-color: #fff !important;
    padding: 2px;
    
}

/* Reset some default button styles */
button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    /* padding: 0px 5px; */
}

/* Style for the transparent button */
.transparent-button {
    border: 1px solid transparent;
    /* color: #fffcfc;  */
    color: #d1f1ff;
    transition: border-color 0.3s, color 0.3s; /* Smooth transition */
    padding: 05px 10px 8px;
    /* font-size: 20px; */
    border-radius: 16px;
    display: flex;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.15;
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
}
.settings-img{
    height: auto;
    background: url('images/settings1.png') no-repeat center center;

}
/* Hover effect */
.transparent-button:hover {
    border-color: #ffefef; /* Border color on hover */
    color: #e8d9d9; /* Text color on hover (same as border color) */
}


/* mobile resolution  */

@media (max-width: 337px) {
    /* Adjust the margin to create more space below the header */
    .paypal-container {
        margin-top: 100px;
    }
}
@media (max-height: 667px) {
    /* Adjust the margin to create more space below the header */
    .paypal-container {
        margin-top: 100px;
    }
}
.confirmation{
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}
#success-message{
    font-size:large;
    font-weight: 700;
    border-bottom:130px ;
    
}
p{
    font-size:medium
}
.Moremoney{
    /* background-color: #001c64 !important; */
    color: #fff;
    background: #0070ba none repeat scroll 0 0;
    /* padding:0.5rem; */
    padding: 13px 30px 15px;
    /* border-radius: 30px; */
    line-height: 1;
    margin:15px 0px 30px 0px;
    /* margin-top: 10px; */
    font-size: 1.07143rem;
    border-radius: 25px;
    
}
.summary1{
   
    color: #0070ba ;
    
    border-radius: 30px;
    line-height: 1;
    margin:10px 0px 30px 0px;
    /* margin-top: 10px; */
    font-size: 1.07143rem;
    border-radius: 25px;
    
    
}